/*******************************************************************************
 *                                                                             *
 * Colors                                                                      *
 *                                                                             *
 ******************************************************************************/
 /* Light brown: #EDD4BA	alts #E0AE77 1st, #DBBC9A (2nd, paler)
  * Medium brown: #DBBC9A	alts #E09C51 1st, #E0AE77
  * Dark brown: #7d4609
  * Window background: #e9e9d5
  * Titled pane heading: #CCA41F (gold)
  * "Sub-titled Pane" heading: #DDDDDD (gray) */
 
 .windowBackground {
 	-fx-background-color: #e9e9d5;
 }
 
 .tab-pane:top > .tab-header-area > .tab-header-background {
 	-fx-background-color: #e9e9d5;
 }
 
 .tab-pane:top > .tab-content-area {
 	-fx-background-color: #e9e9d5;
 }
 
.tab-pane:top > .tab-header-area > .headers-region > .tab,
.button,
.table-column > .label,
.titled-pane > .title {
    -fx-background-color: #7d4609;
}

.titled-pane > .title > .text, 
.data-label,
.table-column > .label > .text {
	-fx-fill: #CCA41F;
}

.data-label,
.button > .text {
	-fx-font-size:16.0px;
}
.summary-label {
	-fx-text-fill: WHITE;
}
.summary-grid-pane {
	-fx-background-color: BLACK;
}
.summary-data-label {
	-fx-padding: 5px;
	-fx-background-color: White;
}
.summary-label, .summary-data-label {
	-fx-pref-width: 25.0em;
	-fx-pref-height: 25em;
}
.summary-ft-label {
	-fx-background-color: WHITE;
}

.gridPaneLightBg {
	-fx-background-color: #EDD4BA;
}

.gridPanePageBg {
	-fx-background-color: #e9e9d5;
}

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.titled-pane, .table-view {
	-fx-border-color: rgb(76.0,60.0,11.0);
}
.titled-pane {
	-fx-border-width: 3.0px 3.0px 0.0 3.0px;
}
.titled-pane, .accordion {
	-fx-background-radius: 2.0;
}
.titled-pane > .title {
    -fx-background-color: #7d4609;
    -fx-alignment: CENTER;
    -fx-padding: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-color: rgb(76.0,60.0,11.0);
    -fx-border-width: 0.0 0.0 2.0px 0.0;
}
.titled-pane > .title > .text {
	-fx-font-size:20.0px;
	-fx-font-weight: Bold;
}
.titledPaneMediumBg > .content {
	-fx-background-color: #DBBC9A;
}

.titledPaneLightBg > .content {
	-fx-background-color: #EDD4BA;
}

.combatSubTitlePane > .content {
	-fx-background-color: #EDD4BA;
}

.combatSubTitlePane > .title > .text {
	-fx-fill: #DDDDDD;
	-fx-font-style: italic;
}

.combatSubTitlePane .scroll-pane .viewport {
	-fx-background-color: #EDD4BA;
}

.titledPanePageBg > .content {
	-fx-background-color: #e9e9d5; 
}

/*******************************************************************************
 *                                                                             *
 * TabbedPane                                                                  *
 *                                                                             *
 ******************************************************************************/
 
.tab-pane:top > .tab-header-area > .headers-region > .tab {
	-fx-pref-width:140.0px;
	-fx-background-color: #DBBC9A;
	-fx-background-radius: 5.0 5.0 0.0 0.0;
 }
 
 .tab > .tab-container > .tab-label > .text {
	-fx-fill: BLACK;
	-fx-font-size:16.0px;
	-fx-font-weight: Bold;
 }
 
.tab-pane:top > .tab-header-area > .headers-region > .tab:selected {
	-fx-pref-width:140.0px;
	-fx-background-color: #7d4609;
	-fx-background-radius: 5.0 5.0 0.0 0.0;
 }
 
 .tab:selected > .tab-container > .tab-label > .text {
	-fx-fill: #CCA41F;
	-fx-font-size:16.0px;
	-fx-font-weight: Bold;
 }
  
 
 /******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
 
 .button,
 .skill-row-button {
 	-fx-alignment:CENTER;
 	-fx-background-radius: 0.0 0.0 0.0 0.0;
 }
 
 .button {
 	-fx-effect: dropshadow( gaussian , #777777 , 0,0,2,2 );
 	-fx-border-width: 1.0px 1.5px 1.5 1.0px;
 	-fx-border-color: rgb(76.0,60.0,11.0);
 }
 
 .button:hover .text {
 	/* -fx-background-color: rgb(100.0,100.0,81.0); */
 	-fx-fill: #CCA41F;
 	-fx-background-radius: 0.0 3.0 0.0 3.0;
 }
 
 .button > .text {
 	-fx-fill: #DDDDDD;
	-fx-font-weight: Bold;
 }
 
 .button:armed {
 	-fx-background-color: #6E3D08;
 	-fx-alignment:CENTER;
 	-fx-background-radius: 0.0 0.0 0.0 0.0;
 	-fx-effect: dropshadow(gaussian, #777777, 0,0,0,0);
 }
 
 /******************************************************************************
 *                                                                             *
 * Labels                                                                      *
 *                                                                             *
 ******************************************************************************/
 .centered,
 .centered > .text {
 	-fx-alignment: center;
 }
 .right,
 .right > .text {
 	-fx-alignment: center-right;
 }
 .left,
 .left > .text {
 	-fx-alignment: center-left;
 }
 .item-slot-label {
 	-fx-background-color: #EDD4BA;
 	-fx-border-width: 2.0px 2.0px 2.0 2.0px;
 	-fx-border-color: rgb(76.0,60.0,11.0);
 }

 .data-label {
 	-fx-padding: 0.0 10.0 0.0 10.0;
 	/*-fx-background-color: WHITE;*/
 }
 .data-label > .text,
 .data-label-centre > .text  {
 	-fx-fill: BLACK;
 	-fx-font-size: 16.0px;
 }
 
 .header-label-16-gold > .text,
 .header-label-16-black-i > .text,
 .header-label-16-black > .text,
 .columnHeader-gold > .text {
 	-fx-font-size: 16.0px;
 }
 
 .item-slot-label > .text, 
 .data-label-gold > .text,
 .header-label-16-gold > .text,
 .header-label-18-gold > .text,
 .columnHeader-gold > .text {
 	-fx-fill: #AB891A;
 	-fx-font-weight: Bold;
 }
 
 .data-label-gold > .text {
 	-fx-font-size: 14.0px;
 }
 
 .header-label-18-gold {
 	/*-fx-background-color: BLACK;*/
 	-fx-halignment: right;
 }
 .header-label-18-gold > .text {
 	-fx-font-size: 18.0px;
 	-fx-font-style: italic;
 }
 
 .header-label-16-gold > .text {
 	-fx-font-style: italic;
 }
 
 .header-label-16-black-i > .text {
 	-fx-font-style: italic;
 }
 
 .columnHeader > .text,
 .header-label-16-black > .text,
 .header-label-16-black-i > .text  {
 	-fx-fill: BLACK;
 	-fx-font-weight: Bold;
 }
 
 .columnHeader > .text {
 	-fx-font-size: 14.0px;
 }
 
 /******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
 
 .table-view {
 	-fx-border-width:2.0px;
 }
 .table-column {
 	-fx-padding: 0.0;
 	-fx-background-color: #EDD4BA;
 	-fx-wrap-text: true;
 }
 
 .table-column > .label > .text {
 	-fx-font-size:18.0px;
 	-fx-fill: #DDDDDD;
	-fx-font-style: italic;
 }
 
 .placeholder {
 	-fx-background-color: #EDD4BA;
 }
 
 .placeholder > .label > .text {
 	-fx-fill: BLACK;
 	-fx-font-size: 16.0px;
 }
 
 .table-row-cell {
 	-fx-background-color: rgb(60.0,60.0,60.0);
 	-fx-border-color: #DDDDDD;
    -fx-border-width: 0.0 0.0 2.0px 0.0;
 }
 .table-row-cell:selected {
 	-fx-border-color: BLACK;
 	-fx-border-width: 2.0px;
 }
 .table-row-cell:hover {
 	-fx-background-color: rgb(80.0,80.0,80.0);
 }
 .table-row-cell .text{
 	-fx-fill: BLACK;
 	-fx-font-size: 16.0px;
 }
 .equipped {
 	-fx-border-color: YELLOW;
 	-fx-border-width:2.0px;
 	-fx-background-color: #DDDDDD;
 }
 
 /******************************************************************************
 *                                                                             *
 * ScrollPane, textArea, textField                                             *
 *                                                                             *
 ******************************************************************************/
 .scroll-pane > .viewport {
 	/*-fx-background-color: #ABC123;*/
 } 

 
  /******************************************************************************
 *                                                                             *
 * Combo Box 						                                           *
 *                                                                             *
 ******************************************************************************/
 
 .combo-box > .list-cell > .text {
 	-fx-fill: BLACK;
 	-fx-font-size: 14.0px;
 	-fx-font-style: italic;
 } 