/*******************************************************************************
 *                                                                             *
 * Colors                                                                      *
 *                                                                             *
 ******************************************************************************/
 /* Light brown: #E0AE77 
  * Medium brown: #E09C51
  * Dark brown: #7d4609 */
 
.tab-pane:top > .tab-header-area > .headers-region > .tab,
.table-column,
.button,
.titled-pane > .title {
    -fx-background-color: #7d4609;
}

/*header-background-grey:rgb(82,81,81)*/

.main-anchor-pane {
	-fx-background-color: #E0AE77;
}
.titled-pane > .title > .text, 
.data-label,
.table-column > .label > .text {
	-fx-fill: #CCA41F;
}

.data-label,
.button > .text {
	-fx-font-size:16.0px;
}
.summary-label {
	-fx-text-fill: WHITE;
}
.summary-grid-pane {
	-fx-background-color: BLACK;
}
.summary-data-label {
	-fx-padding: 5px;
	-fx-background-color: White;
}
.summary-label, .summary-data-label {
	-fx-pref-width: 25.0em;
	-fx-pref-height: 25em;
}
.summary-ft-label {
	-fx-background-color: WHITE;
}
/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.titled-pane, .table-view {
	-fx-border-color: rgb(76.0,60.0,11.0);
}
.titled-pane {
	-fx-border-width: 3.0px 3.0px 0.0 3.0px;
}
.titled-pane, .accordion {
	-fx-background-radius: 2.0;
}
.titled-pane > .title {
    -fx-background-color: #7d4609;
    -fx-alignment: CENTER;
    -fx-padding: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-color: rgb(76.0,60.0,11.0);
    -fx-border-width: 0.0 0.0 2.0px 0.0;
}
.titled-pane > .title > .text {
	-fx-font-size:20.0px;
	-fx-font-weight: Bold;
}
.titledPaneMediumBg > .content {
	-fx-background-color: #E09C51;
}

.combatSubTitlePane > .content,
.titled-pane > .title > .text {
	-fx-background-color: #E0AE77;
	-fx-fill: #DDDDDD;
	-fx-font-style: italic;
}

/*******************************************************************************
 *                                                                             *
 * TabbedPane                                                                  *
 *                                                                             *
 ******************************************************************************/
 
.tab-pane:top > .tab-header-area > .headers-region > .tab {
	-fx-pref-width:130.0px;
	-fx-background-color: #E09C51;
	-fx-background-radius: 0.0 0.0 0.0 0.0;
 }
 
.tab-pane:top .tab-label .text {
 	-fx-fill: WHITE;
	-fx-font-size:15.0px;
	-fx-font-weight: Bold;
 }
 
.tab-pane:top > .tab-header-area > .headers-region > .tab:selected {
	-fx-pref-width:130.0px;
	-fx-background-color: #7d4609;
	-fx-background-radius: 5.0 5.0 0.0 0.0;
 }
 
 .tab-pane:top > .tab-content-area {
 	-fx-background-color: #E0AE77;
 }
 
 
 
 /******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
 
 .button {
 	-fx-alignment:CENTER;
 	-fx-background-radius: 0.0 0.0 0.0 0.0;
 }
 
 .button:hover {
 	-fx-background-color: rgb(100.0,100.0,81.0);
 	-fx-background-radius: 0.0 3.0 0.0 3.0;
 }
 
 .button > .text {
 	-fx-fill: WHITE;
	-fx-font-weight: Bold;
 }
 
 /******************************************************************************
 *                                                                             *
 * Labels                                                                      *
 *                                                                             *
 ******************************************************************************/
 
 .data-label {
 	-fx-padding: 8.0 10.0 8.0 10.0;
 	/*-fx-background-color: WHITE;*/
 }
 .data-label > .text {
 	-fx-fill: BLACK;
 	-fx-font-size: 14.0px;
 }
 
 .header-label {
 	-fx-padding: 5.0 5.0 5.0 5.0;
 	-fx-background-color: BLACK;
 	-fx-halignment: right;
 }
 .header-label > .text {
 	-fx-fill: WHITE;
 	-fx-font-size: 18.0px;
 	-fx-font-weight: Bold;
 }
 
 /******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
 .table-view {
 	-fx-border-width:2.0px;
 }
 .table-column {
 	-fx-padding: 0.0;
 }
 .table-column > .label {
 	-fx-font-size:18.0px;
 }
 .placeholder {
 	-fx-background-color: rgb(50.0,50.0,50.0);
 }
 .table-row-cell {
 	-fx-background-color: rgb(60.0,60.0,60.0);
 	-fx-border-color: WHITE;
    -fx-border-width: 0.0 0.0 2.0px 0.0;
 }
 .table-row-cell:selected {
 	-fx-border-color: BLACK;
 	-fx-border-width: 2.0px;
 }
 .table-row-cell:hover {
 	-fx-background-color: rgb(80.0,80.0,80.0);
 }
 .table-row-cell .text{
 	-fx-fill: WHITE;
 }
 .equipped {
 	-fx-border-color: YELLOW;
 	-fx-border-width:2.0px;
 	-fx-background-color: BLUE;
 }
 
 /******************************************************************************
 *                                                                             *
 * ScrollPane		                                                           *
 *                                                                             *
 ******************************************************************************/
 .scroll-pane > .viewport {
 	-fx-background-color: #E09C51;
 }
